<!DOCTYPE html>
<html lang="en" ng-app="ecommerceApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <link rel="shortcut icon" type="image/png" href="/public/img/favicon_32.png">

    {{#if isDev}}
      <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    {{else}}
      <link rel="stylesheet" type="text/css" href="/public/css/styles-<!-- @echo hash -->.min.css">
    {{/if}}
    <style type="text/css">
      [ng-cloak] {
        display: none;
      }
    </style>
  </head>
  <body ng-cloak>

  <!-- Fixed navbar -->
  <app-header>
    <a class="navbar-brand" href="/">Angular E-Commerce App</a>
  </app-header>
  
  <div class="container" ng-view></div>
  
  <!-- Sticky footer -->
  <app-footer>
    <p class="text-muted text-center">Developed by <a href="mailto:sankalp.lakhina91@gmail.com">Sankalp Lakhina</a></p>
  </app-footer>

    <script type="text/javascript">
      window.appGlobal = {};
    </script>

    {{#if isDev}}
      <script type="text/javascript">
        window.appGlobal.mode = "development";
      </script>
      <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
      <script type="text/javascript" src="/node_modules/angular-route/angular-route.js"></script>
      <script type="text/javascript" src="/public/js/main.js"></script>
    {{else}}
      <script type="text/javascript">
        window.appGlobal.mode = "production";
      </script>
      <script src="/node_modules/angular/angular.min.js"></script>
      <script src="/node_modules/angular-route/angular-route.min.js"></script>
      <script async type="text/javascript" src="/public/js/main-<!-- @echo hash -->.min.js"></script>
    {{/if}}

  </body>
</html>
