<div class="col-xs-4">
	<div class="item" ng-style="{'background': homeData.details[item.id].color}">
		<div class="item-details">
			<div class="name" ng-bind="homeData.details[item.id].name"></div>
		</div>
		<div class="item-actions clearfix">
			<div class="col-xs-6 text-left price">{{'Rs. ' + homeData.details[item.id].price}}</div>
			<div class="col-xs-6 text-right">
				<button type="button" 
						class="btn btn-success"
						ng-disabled="homeData.details[item.id].qty > 9"
						ng-click="addToCart(homeData.details[item.id])">
						Add
				</button>
			</div>
		</div>
	</div>
</div>